html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #aca2e3;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 27px;
}

h3 {
    padding: 0;
    margin: 0;
}

p{
    padding: 0;
    margin: 0;
}

.profession {
    color: rgb(192, 0, 58);
}

.container {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

img {
    width: 20%;
    border-radius: 50%;
}

.underline {
    width: 70px;
    height: 5px;
    background-color: rgba(255, 0, 76, 0.426);
    margin-top: 10px;
    margin-bottom: 30px;
}


.card {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.prev-button{
    border: none;
background-color: transparent;
}

.next-button {
    border: none;
    background-color: transparent;
}

.fa-solid {
    font-size: 16px;
    color: rgba(255, 0, 76, 0.426);
}

.random {
    text-transform: uppercase;
    background-color: transparent;
    color: rgba(255, 0, 76, 0.426);
    border: 2px solid rgba(255, 0, 76, 0.426);
    border-radius: 10px;
    transition: .2s;
}

.random:hover {
    color: #fff;
    background-color: rgba(255, 0, 76, 0.426);
    transition: .2s;
}
