h1, h2, h3 {
    padding: 0;
    margin: 0;
}

h2 {
    margin-bottom: .5em;
}

input {
    width: 5em;
    height: 2em;
    background-color: black;
    color: red;
    font-size: 32px;
    text-align: center;
    cursor: default;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
}

button {
    font-size: 18px;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    transition: 0.2s all; 
}


button:active {
    transform: scale(0.9); 
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
}


body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.scoreboard {
    width: 700px;
    background-color: rgb(178, 178, 224);
    color: aliceblue;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    border-radius: 15px;
}

.time input {
    margin: .5em 0 1em;
}

.score {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.buttons {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}





